<!-- ////////////////// - HEADER - ////////////////// -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<h1>Break Tracker</h1>
<br><b>Hello <%= name %></b>
<h1>This is the agent page!</h1>

<li><a href="/account">Change Password</a></li>
<li><a href="/logout">Logout</a></li>

<!-- ////////////////// - TO DO LIST - ////////////////// -->

<div class="todo-container">

    <h2>Breaks</h2>

    <form action="/" method="POST" class="todo-header">
        <label for="duration">Duration (in minutes):</label>
        <select id="dropdown" name="duration">
            <option value="15">15</option>
            <option value="14">14</option>
            <option value="13">13</option>
            <option value="12">12</option>
            <option value="11">11</option>
            <option value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
        </select>
        <button type="submit"><span class="fas fa-plus"></span></button>
    </form>
    <ul class="todo-list">
        <% breakTracker.forEach(details => { %>
            <li class="todo-list-item">
              <div class="todo-list-item-name">
                <b><%= details.user %></b> <br>
                Started at: <%= new Date(details.startTime).toLocaleTimeString([], { hour: '2-digit' , minute: '2-digit' , hour12: false }) %> <br>
                Duration set: <%= details.duration %> mins. <br>
                Time left: <span id="numerical_timer"></span>
              </div>
              <a href="/edit/<%= details._id %>" class="edit">
                <span class="fas fa-edit"></span>
              </a>
              <a href="/remove/<%= details._id %>" class="remove">
                <span class="fas fa-times"></span>
              </a>
            </li>
            <script>
              startTimer('<%= details.startTime %>', '<%= details.duration %>', '<%= details.user %>');
            </script>
          <% }) %>
    </ul>

</div>

<script src="/js/timer.js"></script>

