<!-- ////////////////// - LINED STYLES AND SCRIPTS - ////////////////// -->

<link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
<link rel="stylesheet" href="https://use.typekit.net/fsp2joi.css">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/dark.css">

<script src="/js/timer.js"></script>

<br>

<!-- ////////////////// - DARK MODE - ////////////////// -->

<li style="display: block;" class="icon-moon">
  <icon href="#" id="toggle-mode-btn-moon" class="toggle-mode">
    <i class="fa-sharp fa-solid fa-moon"></i>
  </icon>
</li>
<li style="display: block;" class="icon-sun">
  <icon href="#" id="toggle-mode-btn-sun" class="toggle-mode">
    <i class="fa-regular fa-sun"></i>
  </icon>
</li>

<!-- ////////////////// - NAV - ////////////////// -->

<navbar>
  <li><a href="/account">Change Password</a></li>
  <li><a href="/logout">Logout</a></li><br>
</navbar>

<!-- ////////////////// - GREET - ////////////////// -->

<br>
<greet>Hello <%= name %>!</greet><br>
<joke>You too deserve a break!</joke><br><br>

<!-- ////////////////// - AVAILABLE SLOTS - ////////////////// -->

<!-- ////////////////// - TO DO LIST - ////////////////// -->

<div class="break-container">

  <ul class="break-list">
    <div id="foo" class="main">
      <% let index=0; %>
        <% breakTracker.forEach(details=> { %>
          <% convertToLocalTime=()=> {
            let clientDate = new Date();
            let timezoneOffset = clientDate.getTimezoneOffset();
            let date = new Date(details.startTime);
            let localDate = new Date(date.getTime() + timezoneOffset);
            let timeString = localDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });
            return timeString;
            }
            %>
            <li class="break-list-item">
              <div class="break-list-item-name">
                <div class="spcitems">
                  <agent>
                    <%= details.user %>
                  </agent><br>
                  Started at:
                  <info>
                    <%= convertToLocalTime(details.startTime) %>
                  </info><br>
                  Duration set:
                  <info>
                    <%= details.duration %> mins.
                  </info><br>
                  Time left:
                  <info>
                    <span class="numerical-timer <%= `timer-${details._id}` %>">
                      <span class="loader">
                        <filer>0</filer>
                      </span>
                    </span>
                  </info>
                </div>
              </div>

              <!-- <a href="/edit/<%= details._id %>" class="edit">
        <span class="fas fa-edit"></span>
      </a> -->
              <a href="/remove/<%= details._id %>" class="remove" style="display: block;">
                <span class="fas fa-times"></span>
              </a>

            </li>

            <script>
              myFingTimer(`<%= details._id %>`);

              function myFingTimer(id) {
                //console.log(id);
                let duration = parseInt('<%= details.duration %>', 10) * 60;
                let presentTime = new Date().getTime() / 1000;
                let itemTimeStamp = (new Date('<%= details.startTime %>').getTime() / 1000);
                let timeCalc = (duration) - (presentTime - itemTimeStamp) + 61;
                id = id.replace(/&#34;/g, '-');
                let display = document.querySelector(`.timer-${id}`);
                console.log('id:', id);
                console.log('display:', display);
                startTimer(timeCalc, display, id);
              }
            </script>

            <% }) %>
    </div>
  </ul>
</div>

<script src="/js/dark.js"></script>
<script src="/sortable/Sortable.min.js"></script>
<script src="/sortable/Sortable.js"></script>
<script src="/sortable/Sortable.master.js"></script>
<script src="/js/sort.js"></script>