<!-- ////////////////// - 1ST IN DOM > PREVENT FLICKER - ////////////////// -->

<script>
  document.documentElement.dataset.theme = localStorage.getItem("last-theme-used") || "light";
</script>

<!-- ////////////////// - LINED STYLES AND SCRIPTS - ////////////////// -->

<link id="google-icons" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" type="text/css" href="/css/themes.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/breaks.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/modals.css">

<script src="/js/timer.js"></script>

<br>

<!-- ////////////////// - DARK MODE - ////////////////// -->

<li style="display: block;" class="toggle-moon">
  <icon href="#" id="toggle-mode-btn-moon" class="toggle-mode">
    <span class="material-symbols-outlined">
      brightness_3
    </span>
  </icon>
</li>

<li style="display: block;" class="toggle-sun">
  <icon href="#" id="toggle-mode-btn-sun" class="toggle-mode">
    <span class="material-symbols-outlined">
      wb_sunny
    </span>
  </icon>
</li>

<br>

<navbar>
  <li><a href="/account">Change Password</a></li>
  <li><a href="/logout">Logout</a></li><br>
</navbar>

<br><b>Hello <%= name %>!</b><br>

<li><a href="/account">Change Password</a></li>
<li><a href="/logout">Logout</a></li>

<!-- ////////////////// - TO DO LIST - ////////////////// -->

<div class="break-container">

  <h2>Breaks</h2>

  <!-- <form action="/" method="POST" class="break-header">
    <label for="duration">Duration (in minutes):</label>
    <select id="dropdown" name="duration">
      <option value="15">15</option>
      <option value="10">10</option>
      <option value="5">5</option>
      <option value="1">1</option>
    </select>
    <button type="submit"><span class="fas fa-plus"></span></button>
  </form> -->

  <ul class="break-list">
    <% let index=0; %>
      <% breakTracker.forEach(details=> { %><% if (details._id==idBreak) { %>
          <% convertToLocalTime=()=> {
            let clientDate = new Date();
            let timezoneOffset = clientDate.getTimezoneOffset();
            let date = new Date(details.startTime);
            let localDate = new Date(date.getTime() + timezoneOffset);
            let timeString = localDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });
            return timeString;
            }
            %>
            <li class="break-list-item">
              <div class="break-list-item-name">
                <b>
                  <%= details.user %>
                </b> <br>
                Started at: <%= convertToLocalTime(details.startTime) %> <br>
                  Duration set: <%= details.duration %> mins. <br>
                    Time left: <span class="numerical-timer <%= `timer-${details._id}` %>"></span>
              </div>
              <form action="/edit/<%= details._id %>" method="POST">
                <select id="duration" name="duration">
                  <option value="15" <%=breakTracker.duration===15 ? 'selected' : '' %>>15</option>
                  <option value="10" <%=breakTracker.duration===10 ? 'selected' : '' %>>10</option>
                  <option value="5" <%=breakTracker.duration===5 ? 'selected' : '' %>>5</option>
                  <option value="1" <%=breakTracker.duration===1 ? 'selected' : '' %>>1</option>
                </select>
                <button type="submit" class="confirm">CHANGE</button>
              </form>
            </li>
            <% } else { %>
              <li class="break-list-item">
                <div class="break-list-item-name">
                  <b>
                    <%= details.user %>
                  </b> <br>
                  Started at: <%= convertToLocalTime(details.startTime) %> <br>
                    Duration set: <%= details.duration %> mins. <br>
                      Time left: <span class="numerical-timer <%= `timer-${details._id}` %>"></span>
                </div>
</div>
<a href="/edit/<%= details._id %>" class="edit">
  <span class="fas fa-edit"></span>
</a>
<a href="/remove/<%= details._id %>" class="remove" style="display: block;">
  <span class="fas fa-times"></span>
</a>
</li>

<script>
  myFingTimer(`<%= details._id %>`);

  function myFingTimer(id) {
    //console.log(id);
    let duration = parseInt('<%= details.duration %>', 10) * 60;
    let presentTime = new Date().getTime() / 1000;
    let itemTimeStamp = (new Date('<%= details.startTime %>').getTime() / 1000);
    let timeCalc = (duration) - (presentTime - itemTimeStamp) + 61;
    id = id.replace(/&#34;/g, '-');
    let display = document.querySelector(`.timer-${id}`);
    console.log('id:', id);
    console.log('display:', display);
    startTimer(timeCalc, display, id);
  }
</script>

<% } %>
  <% }) %>
    </ul>

    </div>

    <br>

    <!-- ////////////// MODALS ////////////////-->

    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close material-symbols-outlined">close</span>
        <p id="message" class="modal-text"></p>
      </div>
    </div>
    
    <!-- ////////////////// - FETCH JS FILES - ////////////////// -->

    <script src="/js/theme_setup.js"></script>
    <script src="/js/toggle.js"></script>
    <script src="/js/modals.js"></script>
    <script src="/sortable/Sortable.min.js"></script>
    <script src="/js/sort.js"></script>