<!-- ////////////////// - HEADER - ////////////////// -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">

<script src="/js/timer.js"></script>

<br>
<b>Break Tracker</b><br>
(agent page)<br><br><br>
<br><b>Hello there <%= name %>!</b><br>

<li><a href="/account">Change Password</a></li>
<li><a href="/logout">Logout</a></li>

<!-- ////////////////// - TO DO LIST - ////////////////// -->

<div class="todo-container">

  <h2>Breaks</h2>

  <form action="/" method="POST" class="todo-header">
    <label for="duration">Duration (in minutes):</label>
    <select id="dropdown" name="duration">
      <option value="15">15</option>
      <option value="14">14</option>
      <option value="13">13</option>
      <option value="12">12</option>
      <option value="11">11</option>
      <option value="10">10</option>
      <option value="9">9</option>
      <option value="8">8</option>
      <option value="7">7</option>
      <option value="6">6</option>
      <option value="5">5</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
    </select>
    <button type="submit"><span class="fas fa-plus"></span></button>
  </form>

  <ul class="todo-list">
    <% let index=0; %>
    <% breakTracker.forEach(details=> { %>
    <% 
    convertToLocalTime = () => {
      let clientDate = new Date();
      let timezoneOffset = clientDate.getTimezoneOffset();
      let date = new Date(details.startTime);
      let localDate = new Date(date.getTime() + timezoneOffset);
      let timeString = localDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });
      return timeString;
    }
    %>
    <li class="todo-list-item">
      <div class="todo-list-item-name">
        <b>
          <%= details.user %>
        </b> <br>
        Started at: <%= convertToLocalTime(details.startTime) %> <br>
        Duration set: <%= details.duration %> mins. <br>
        Time left: <span class="numerical-timer <%= `timer-${details._id}` %>"></span>
      </div>
      <a href="/edit/<%= details._id %>" class="edit">
        <span class="fas fa-edit"></span>
      </a>
      <a href="/remove/<%= details._id %>" class="remove">
        <span class="fas fa-times"></span>
      </a>
    </li>
    <script>
      myFingTimer();
 
      function myFingTimer() {
        let duration = parseInt('<%= details.duration %>', 10) * 60;
        let presentTime = new Date().getTime() / 1000;
        let itemTimeStamp = (new Date('<%= details.startTime %>').getTime() / 1000);
        let timeCalc = (duration) - (presentTime - itemTimeStamp);
        let display = document.querySelector(`.timer-${'<%= details.id%>'}`);
        startTimer(timeCalc + 61, display, console.log("time over"));

        console.log("A C T I V E  -  M Y  F U C K I N G  T I M E R");
        console.log("duration: ", duration);
        console.log("presentTime: ", presentTime);
        console.log("itemTimeStamp: ", itemTimeStamp);
        console.log("presentTime - itemTimeStamp: ", presentTime - itemTimeStamp);
        console.log("timeCalc: ", timeCalc);
        console.log("display: ", display);
      }
      // let justTesting = Intl.DateTimeFormat().resolvedOptions().timeZone;
      // console.log('TIMEZONE:', justTesting);
    </script>

    <% }) %>
  </ul>
</div>