<!-- ////////////////// - HEADER - ////////////////// -->

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
<link rel="stylesheet" href="https://use.typekit.net/fsp2joi.css">

<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/dark.css">

<script src="/js/timer.js"></script>

<br>

<li>
  <a href="#" id="toggle-mode-btn" class="toggle-mode">
    <i class="fa-regular fa-sun"></i>
  </a>
</li>

<br>

<navbar>
  <li><a href="/account">Change Password</a></li>
  <li><a href="/logout">Logout</a></li><br>
</navbar>

<br>
<greet>Hello <%= name %>!</greet><br>

<!-- ////////////////// - TO DO LIST - ////////////////// -->

<div class="break-container">

  <h2>Breaks</h2>

  <!-- <form action="/" method="POST" class="break-header">
    <label for="duration">Duration (in minutes):</label>
    <select id="dropdown" name="duration">
      <option value="15">15</option>
      <option value="10">10</option>
      <option value="5">5</option>
      <option value="1">1</option>
    </select>
    <button type="submit"><span class="fas fa-plus"></span></button>
  </form> -->

  <ul class="break-list">
    <% let index=0; %>
      <% breakTracker.forEach(details=> { %>
        <% convertToLocalTime=()=> {
          let clientDate = new Date();
          let timezoneOffset = clientDate.getTimezoneOffset();
          let date = new Date(details.startTime);
          let localDate = new Date(date.getTime() + timezoneOffset);
          let timeString = localDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });
          return timeString;
          }
          %>
          <li class="break-list-item">
            <div class="break-list-item-name">
              <div>
                <agent>
                  <%= details.user %>
                </agent><br>
                Started at: <info>
                  <%= convertToLocalTime(details.startTime) %>
                </info><br>
                Duration set: <info>
                  <%= details.duration %> mins.
                </info><br>
                Time left: <info><span class="numerical-timer <%= `timer-${details._id}` %>"><span class="loader">
                      <filer>0</filer>
                    </span></span></info>
              </div>
            </div>

            <!-- <a href="/edit/<%= details._id %>" class="edit">
        <span class="fas fa-edit"></span>
      </a> -->
            <a href="/remove/<%= details._id %>" class="remove" style="display: block;">
              <span class="fas fa-times"></span>
            </a>

          </li>

          <script>
            myFingTimer(`<%= details._id %>`);

            function myFingTimer(id) {
              //console.log(id);
              let duration = parseInt('<%= details.duration %>', 10) * 60;
              let presentTime = new Date().getTime() / 1000;
              let itemTimeStamp = (new Date('<%= details.startTime %>').getTime() / 1000);
              let timeCalc = (duration) - (presentTime - itemTimeStamp) + 61;
              id = id.replace(/&#34;/g, '-');
              let display = document.querySelector(`.timer-${id}`);
              console.log('id:', id);
              console.log('display:', display);
              startTimer(timeCalc, display, id);
            }
          </script>

          <% }) %>
  </ul>
</div>

<script src="/js/dark.js"></script>