<html>

<head>
<!-- ////////////////// - LINED STYLES AND SCRIPTS - ////////////////// -->

<link rel="stylesheet" type="text/css"
  href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap">
<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
<link rel="stylesheet" href="https://use.typekit.net/fsp2joi.css">

<link rel="stylesheet" type="text/css" href="/css/themes.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/dark.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/modals.css">

<script src="/js/timer.js"></script>

</head>

<body>
<br>

<!-- ////////////////// - DARK MODE - ////////////////// -->

<li style="display: block;" class="icon-moon">
  <icon href="#" id="toggle-mode-btn-moon" class="toggle-mode">
    <i class="fa-sharp fa-solid fa-moon"></i>
  </icon>
</li>
<li style="display: block;" class="icon-sun">
  <icon href="#" id="toggle-mode-btn-sun" class="toggle-mode">
    <i class="fa-regular fa-sun"></i>
  </icon>
</li>

<!-- ////////////////// - NAV - ////////////////// -->

<navbar>
  <li><a href="/account">Change Password</a></li>
  <li><a href="/register">Register account</a></li>
  <li><a href="/logout">Logout</a>&nbsp&nbsp</li><br>
</navbar>

<br>

<hr class="divider-spc-nav"><br>

<!-- ////////////////// - GREET - ////////////////// -->

<greet>Hello <%= name %>!</greet><br>

<joke>You too deserve a break!</joke><br><br>

<hr class="divider"><br>

<!-- ////////////////// - AVAILABLE SLOTS - ////////////////// -->

<form class="break-header">
  <div class="grid-container-spc">
    <span class="grid-item item1">
      <description class="item1">Slots available:</description>
    </span>
    <span class="grid-item item2">
      <select id="dropdown" name="duration" class="item2">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
    </span>
    <span class="grid-item item3">
      <button type="submit" class="break-plus-button item3">+</button>
    </span>
  </div>
</form>

<!-- ////////////////// - TO DO LIST - ////////////////// -->

<div class="break-container">

  <ul class="break-list">
    <div id="foo" class="main">
      <% let index=0; %>
        <% breakTracker.forEach(details=> { %>
          <% convertToLocalTime=()=> {
            let clientDate = new Date();
            let timezoneOffset = clientDate.getTimezoneOffset();
            let date = new Date(details.startTime);
            let localDate = new Date(date.getTime() + timezoneOffset);
            let timeString = localDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });
            return timeString;
            }
            %>
            <li class="break-list-item">
              <div class="break-list-item-name-spc">
                <div class="spcitems">
                  <agent>
                    <%= details.user %>
                  </agent><br>
                  Started at:
                  <info>
                    <%= convertToLocalTime(details.startTime) %>
                  </info><br>
                  Duration set:
                  <info>
                    <%= details.duration %> mins.
                  </info><br>
                  Time left:
                  <info>
                    <span class="numerical-timer <%= `timer-${details._id}` %>">
                      <span class="loader">
                        <filer>0</filer>
                      </span>
                    </span>
                  </info>
                </div>
              </div>

              <!-- <a href="/edit/<%= details._id %>" class="edit">
        <span class="fas fa-edit"></span>
      </a> -->
              <a href="/remove/<%= details._id %>" class="remove" style="display: block;">
                <span class="fas fa-times"></span>
              </a>

            </li>

            <script>
              myFingTimer(`<%= details._id %>`);

              function myFingTimer(id) {
                //console.log(id);
                let duration = parseInt('<%= details.duration %>', 10) * 60;
                let presentTime = new Date().getTime() / 1000;
                let itemTimeStamp = (new Date('<%= details.startTime %>').getTime() / 1000);
                let timeCalc = (duration) - (presentTime - itemTimeStamp) + 61;
                id = id.replace(/&#34;/g, '-');
                let display = document.querySelector(`.timer-${id}`);
                console.log('id:', id);
                console.log('display:', display);
                startTimer(timeCalc, display, id);
              }
            </script>

            <% }) %>
    </div>
  </ul>
</div>

<!-- ////////////// MODALS ////////////////-->

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="message"></p>
  </div>
</div>

<br>

<!-- ////////////////// - FETCH JS FILES - ////////////////// -->

<script src="/js/dark.js"></script>
<script src="/js/modals.js"></script>
<script src="/sortable/Sortable.min.js"></script>
<script src="/sortable/Sortable.js"></script>
<script src="/sortable/Sortable.master.js"></script>
<script src="/js/sort.js"></script>

</body>
</html>