<!-- ////////////////// - 1ST IN DOM > PREVENT FLICKER - ////////////////// -->

<script src="/js/theme_setup.js"></script>

<!-- ////////////////// - LINED STYLES AND SCRIPTS - ////////////////// -->

<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css">
<link rel="stylesheet" type="text/css" href="/css/themes.css">
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/breaks.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/modals.css">

<script src="/js/timer.js"></script>

<br>

<!-- ////////////////// - DARK MODE - ////////////////// -->

<li style="display: block;" class="toggle-moon">
  <icon href="#" id="toggle-mode-btn-moon" class="toggle-mode">
    <i class="fa-sharp fa-solid fa-moon"></i>
  </icon>
</li>

<li style="display: block;" class="toggle-sun">
  <icon href="#" id="toggle-mode-btn-sun" class="toggle-mode">
    <i class="fa-regular fa-sun"></i>
  </icon>
</li>

<!-- ////////////////// - NAV - ////////////////// -->

<navbar>
  <li><a href="/account">Change Password</a></li>
  <li><a href="/logout">Logout</a></li>&nbsp; &nbsp;<br>
</navbar>

<br>

<hr class="divider"><br>

<!-- ////////////////// - GREET - ////////////////// -->

<greet>Hello <%= name %>!</greet><br>

<joke>Time for a break?</joke><br><br>

<hr class="divider"><br>

<!-- ////////////////// - AVAILABLE SLOTS - ////////////////// -->

<description class="item1">Slots available:   <b>3</b></description>

<br><br>

<!-- ////////////////// - SET BREAK MENU - ////////////////// -->
 
<form id="break-form" action="/" method="POST" class="break-header">
      <div class="grid-container">
        <span class="grid-item item1">
          <description class="item1">Duration:</description>
        </span>
        <span class="grid-item item2">
          <select id="dropdown" name="duration" class="item2">
            <option value="15">15</option>
            <option value="14">14</option>
            <option value="13">13</option>
            <option value="12">12</option>
            <option value="11">11</option>
            <option value="10">10</option>
            <option value="9">9</option>
            <option value="8">8</option>
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select>
        </span>
        <span class="grid-item item3">
          <button id="submit-button" type="submit" class="break-plus-button item3">+</button>
        </span>
      </div>
</form>

<!-- /////////// BREAK LIST /////////// -->

<div class="break-container">
  
  <ul class="break-list">
    <div id="foo" class="main">
    <% let index=0; %>
      <% breakTracker.forEach(details=> { %>

        <% convertToLocalTime=()=> {
          let clientDate = new Date();
          let timezoneOffset = clientDate.getTimezoneOffset();
          let date = new Date(details.startTime);
          let localDate = new Date(date.getTime() + timezoneOffset);
          let timeString = localDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });
          return timeString;
          }
          %>
          
          <li class="break-list-item">
            <div class="break-list-item-name">
              <b>
                <%= details.user %>
              </b>
              <div class="timer-container">
                <b><span class="numerical-timer <%= `timer-${details._id}` %>">
                  <span class="loader">
                      <filer></filer>
                    </span>
                  </span></b>
              </div>
            </div>

            <% if (details.user===name) { %>
              <!--<% console.log(details.user, name) %>-->
              <a href="/remove/<%= details._id %>" class="remove">
                <span class="fas fa-times"></span>
              </a>
              <% } %>

          </li>
        

          <script>
            myFingTimer(`<%= details._id %>`);

            function myFingTimer(id) {
              //console.log(id);
              let duration = parseInt('<%= details.duration %>', 10) * 60;
              let presentTime = new Date().getTime() / 1000;
              let itemTimeStamp = (new Date('<%= details.startTime %>').getTime() / 1000);
              let timeCalc = (duration) - (presentTime - itemTimeStamp) + 61;
              id = id.replace(/&#34;/g, '-');
              let display = document.querySelector(`.timer-${id}`);
              display.classList.remove('loading');
              console.log('id:', id);
              console.log('display:', display);
              startTimer(timeCalc, display, id);
            }
          </script>

          <% }) %>
        </div>
  </ul>
  
</div>

<br>

<!-- ////////////// MODALS ////////////////-->

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p id="message" class="modal-text"></p>
  </div>
</div>
 
<!-- ////////////////// - FETCH JS FILES - ////////////////// -->

<script src="/js/toggle.js"></script>
<script src="/js/modals.js"></script>
<script src="/sortable/Sortable.min.js"></script>
<script src="/js/sort.js"></script> 
