<!-- ////////////////// - HEADER SETUP - ////////////////// -->

<%- include('partials/header.ejs') %>

<br>

<!-- ////////////////// - THEME TOGGLE - ////////////////// -->

<%- include('partials/themes.ejs') %>

<!-- ////////////// MODALS ////////////////-->

<%- include('partials/modals.ejs') %>

<!-- ////////////////// - NAV - ////////////////// -->

<%- include('partials/navigation.ejs') %>

&nbsp;
<br>

<hr class="divider">

<!-- ////////////////// - FORM - ////////////////// -->

<pagetitle>Change your password</pagetitle>

<form action="/changepassword" method="post" class="credentials">
  <input type="password" id="currentpassword" name="currentpassword" placeholder="currentpassword" autocomplete="off">
  <input type="password" id="newpassword" name="newpassword" placeholder="newpassword" autocomplete="off">
  <input type="password" id="confirmpassword" name="confirmpassword" placeholder="confirmpassword" autocomplete="off">
  <button class="form-button">Submit</button>
</form>


<!-- ////////////// MODALS ////////////////-->

<%- include('partials/modals.ejs') %>

<!-- ////////////////// - FETCH BASIC JS - ////////////////// -->

<%- include('partials/basic_bottomjs.ejs') %>