<!-- ////////////////// - PARTIALS - ////////////////// -->

<%- include('partials/socket.ejs') %>
  <%- include('partials/header.ejs') %>
    <%- include('partials/messageModals.ejs') %>
      <%- include('partials/navigation.ejs') %>

        &nbsp;
        <br>

        <!-- ////////////////// - HEADER - ////////////////// -->

        <hr class="divider">

        <pagetitle>Change your password</pagetitle><br>

        <%- include('partials/clock.ejs') %>

        <hr class="divider">

          <!-- ////////////////// - FORM - ////////////////// -->

          <form action="/changepassword" method="post" class="credentials">
            <div class="input-container">
              <input type="password" id="currentpassword" name="currentpassword" autocomplete="off" class="inputfield"
                maxlength="" value="">
              <span class="placeholder1">&nbsp;Current Password&nbsp;</span>
            </div>
            <div class="input-container">
              <input type="password" id="newpassword" name="newpassword" autocomplete="off" class="inputfield"
                maxlength="" value="">
              <span class="placeholder1 newpassword">&nbsp;New Password&nbsp;</span>
            </div>
            <div class="input-container">
              <input type="password" id="confirmpassword" name="confirmpassword" autocomplete="off" class="inputfield"
                maxlength="" value="">
              <span class="placeholder1">&nbsp;Confirm Password&nbsp;</span>
            </div>
            <button class="form-button">Submit</button>
          </form>

          <!-- ////////////// - BOTTOM PARTIALS - ////////////////-->

          <%- include('partials/bottomjs.ejs') %>