<!-- ////////////////// - PARTIALS - ////////////////// -->

<%- include('partials/socket.ejs') %>
    <%- include('partials/header.ejs') %>
        <%- include('partials/messageModals.ejs') %>
            <%- include('partials/navigation.ejs') %>

                &nbsp;
                <br>

                <hr class="divider">

                <style>
                    .log-year button,
                    .log-month button,
                    .log-button {
                        background: none;
                        border: none;
                        color: var(--links-color);
                        cursor: pointer;
                        padding: 0;
                        margin: 0;
                        transition: color 0.5s ease;
                        font-size: 18px;
                        text-align: left;
                        transition: all 0.3s ease;
                    }

                    .log-year button:hover,
                    .log-month button:hover,
                    .log-button:hover {
                        text-decoration: underline;
                    }

                    .logs-container {
                        margin-left: 30px;
                        text-align: left;
                        transition: all 0.3s ease;
                    }

                    .log-year,
                    .log-month {
                        transition: all 0.5s cubic-bezier(0, 1, 0, 1);
                    }

                    .log-year .logs-container,
                    .log-month .logs-container {
                        max-height: 0;
                        transition: all 0.5s cubic-bezier(0, 1, 0, 1);
                        opacity: 0;
                    }

                    .log-year .logs-container.open,
                    .log-month .logs-container.open {
                        max-height: 800px;
                        transition: all 1s ease-in-out;
                        opacity: 1;
                    }

                    .arrow {
                        transition: transform 0.3s ease-in-out;
                        display: inline-block;
                        transform-origin: center;
                        font-size: 0.8em;
                        /* Adjust this value as needed */
                        vertical-align: middle;
                    }

                    .rotate {
                        transform: rotate(90deg);
                    }

                    .log-button {
                        transition: all 0.3s ease-in-out;
                    }
                </style>

                <greet>Logs</greet>

                <br><br><br>

                <div class="logs-container">
                    <% logs.forEach((logYear, yearIndex)=> { %>
                        <div class="log-year" id="year<%= yearIndex %>">
                            <button onclick="toggleLogsContainer(this, 'year<%= yearIndex %>')">
                                <span class="arrow">▶</span>
                                <%= logYear.year %>
                            </button>
                            <div class="logs-container">
                                <% logYear.months.forEach((logMonth, monthIndex)=> { %>
                                    <div class="log-month" id="month<%= monthIndex %>">
                                        <button onclick="toggleLogsContainer(this, 'month<%= monthIndex %>')">
                                            <span class="arrow">▶</span>
                                            <%= logMonth.month %>
                                        </button>
                                        <div class="logs-container">
                                            <% logMonth.logs.forEach(logFile=> { %>
                                                <div class="log-day">
                                                    <button class="log-button"
                                                        onclick="fetchLogContent('<%= logYear.year %>', '<%= logMonth.month %>', '<%= logFile %>')">
                                                        <%= logFile %>
                                                    </button>
                                                </div>
                                                <% }); %>
                                        </div>
                                    </div>
                                    <% }); %>
                            </div>
                        </div>
                        <% }); %>
                </div>

                <script>
                    const toggleLogsContainer = (button, id) => {
                        const logsContainer = button.nextElementSibling;
                        const arrow = button.querySelector('.arrow');
                        logsContainer.classList.toggle('open');
                        arrow.classList.toggle('rotate');
                        localStorage.setItem(id, logsContainer.classList.contains('open'));
                    }

                    window.addEventListener('DOMContentLoaded', () => {
                        const logYears = document.querySelectorAll('.log-year');
                        const logMonths = document.querySelectorAll('.log-month');
                        logYears.forEach(year => {
                            const savedState = localStorage.getItem(year.id);
                            if (savedState === 'true') {
                                year.querySelector('.logs-container').classList.add('open');
                                year.querySelector('.arrow').classList.add('rotate');
                            }
                        });

                        logMonths.forEach(month => {
                            const savedState = localStorage.getItem(month.id);
                            if (savedState === 'true') {
                                month.querySelector('.logs-container').classList.add('open');
                                month.querySelector('.arrow').classList.add('rotate');
                            }
                        });
                    });

                    const fetchLogContent = async (year, month, day) => {
                        try {
                            const response = await fetch(`/logs/${year}/${month}/${day}`);
                            const data = await response.json();

                            let params = 'toolbar=no, popup=yes, directories=no, titlebar=no, toolbar=no, location=no, status=no, menubar=no, scrollbars=no, resizable=no,width=750,height=450,left=100,top=100';
                            let logWindow = window.open('', '', params);

                            logWindow.document.write(`
                                <!DOCTYPE html>
                                <html>
                                <head>
                                    <title>Log: ${year}/${month}/${day}</title>
                                    <style>
                                        body {
                                            background-color: black;
                                            color: white;
                                        }
                                        pre {
                                            white-space: pre-wrap; 
                                            white-space: -moz-pre-wrap; 
                                            white-space: -pre-wrap; 
                                            white-space: -o-pre-wrap;
                                            word-wrap: break-word; 
                                        }

                                        span {
                                            font-family:'Courier New', Courier, monospace;
                                            font-size: 12px;
                                        }
                                    </style>
                                </head>
                                <body>
                                    <span>File > ${day}<br></span>
                                    <pre>${data.data}</pre>
                                </body>
                                </html>
                            `);

                            logWindow.document.close();
                        } catch (error) {
                            console.error("Error fetching log content:", error);
                        }
                    }

                </script>

                <!-- ////////////// - BOTTOM PARTIALS - ////////////////-->

                <%- include('partials/bottomjs.ejs') %>
