<%- include('partials/header.ejs') %>

<style>
    body {
        background-color: black;
        padding: 20px;
        text-align: left;
    }

    .logs-container {
        padding-left: 20px;
    }

    .log-year,
    .log-month {
        margin-bottom: 10px;
    }

    .log-year button,
    .log-month button {
        background: none;
        border: none;
        color: #007bff;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }

    .log-year .logs-container,
    .log-month .logs-container {
        display: none;
    }

    .log-year .logs-container.open,
    .log-month .logs-container.open {
        display: block;
    }

    .log-day {
        margin-left: 0px;
    }
</style>

<h1>Logs</h1>
<div class="logs-container">
    <% logs.forEach(logYear=> { %>
        <div class="log-year">
            <button onclick="toggleLogsContainer(this)">
                <span class="arrow">▶</span>
                <%= logYear.year %>
            </button>
            <div class="logs-container">
                <% logYear.months.forEach(logMonth=> { %>
                    <div class="log-month">
                        <button onclick="toggleLogsContainer(this)">
                            <span class="arrow">▶</span>
                            <%= logMonth.month %>
                        </button>
                        <div class="logs-container">
                            <% logMonth.logs.forEach(logFile=> { %>
                                <div class="log-day">
                                    <button class="log-button"
                                        onclick="fetchLogContent('<%= logYear.year %>', '<%= logMonth.month %>', '<%= logFile %>')">
                                        <%= logFile %>
                                    </button>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    <% }); %>
</div>
<h2>Log content</h2>
<pre id="logContent"></pre>

<script>
    const toggleLogsContainer = (button) => {
        const logsContainer = button.nextElementSibling;
        const arrow = button.querySelector('.arrow');
        logsContainer.classList.toggle('open');
        arrow.textContent = logsContainer.classList.contains('open') ? '▼' : '▶';
    }

    const collapseLogs = () => {
        const logsContainers = document.querySelectorAll('.log-year .logs-container, .log-month .logs-container');
        logsContainers.forEach(container => {
            container.classList.remove('open');
        });
        
        const arrows = document.querySelectorAll('.log-year .arrow, .log-month .arrow');
        arrows.forEach(arrow => {
            arrow.textContent = '▶';
        });
    };

    window.addEventListener('DOMContentLoaded', collapseLogs);

    const fetchLogContent = async (year, month, day) => {
        try {
            const response = await fetch(`/logs/${year}/${month}/${day}`);
            const data = await response.json();
            document.getElementById("logContent").innerHTML = data.data.replace(/\n/g, "<br>");
        } catch (error) {
            console.error("Error fetching log content:", error);
        }
    }
</script>