<!-- ////////////////// - HEADER SETUP - ////////////////// -->

<%- include('partials/header.ejs') %>

<br>

<!-- ////////////////// - THEME TOGGLE - ////////////////// -->

<%- include('partials/themes.ejs') %>

<!-- ////////////// MODALS ////////////////-->

<%- include('partials/modals.ejs') %>

<!-- ////////////////// - NAV - ////////////////// -->

<%- include('partials/navigation.ejs') %>

&nbsp;
<br>

<hr class="divider">

<!-- ////////////////// - FORM - ////////////////// -->

<pagetitle>Register an account</pagetitle>

<form action="/register" method="POST" class="credentials">
  <input type="text" name="username" placeholder="username" autocomplete="off">
  <input type="password" name="password" placeholder="password" autocomplete="off">
  <input type="password" id="confirmpassword" name="confirmpassword" placeholder="confirmpassword" autocomplete="off">
  <button class="form-button">Submit</button>
</form>

<!-- ////////////////// - FETCH BASIC JS - ////////////////// -->

<%- include('partials/basic_bottomjs.ejs') %>