<!-- ////////////////// - 1ST IN DOM > PREVENT FLICKER - ////////////////// -->

<script src="/js/theme_setup.js"></script>

<!-- ////////////////// - LINED STYLES AND SCRIPTS - ////////////////// -->

<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/themes.css">
<link rel="stylesheet" type="text/css" href="/css/breaks.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/modals.css">

<script src="/js/timer.js"></script>

<br>

<!-- ////////////////// - DARK MODE - ////////////////// -->

<li style="display: block;" class="toggle-moon">
  <icon href="#" id="toggle-mode-btn-moon" class="toggle-mode">
    <span class="material-symbols-outlined">brightness_3</span>
  </icon>
</li>

<li style="display: block;" class="toggle-sun">
  <icon href="#" id="toggle-mode-btn-sun" class="toggle-mode">
    <span class="material-symbols-outlined">sunny</span>
  </icon>
</li>

<!-- ////////////////// - NAV - ////////////////// -->

<navbar>
  <li><a href="/secret">Breaks</a></li>
  <section class="vertical-line"></section>
  <li><a href="/account">Password</a></li>
  <section class="vertical-line"></section>
  <li><a href="/register">Register</a></li>
  <section class="vertical-line"></section>
  <li><a href="/users">Users</a></li>
  <section class="vertical-line"></section>
  <li><a href="/logout">Logout</a></li>
</navbar>
&nbsp;
<br>

<hr class="divider">

<!-- ////////////////// - GREET - ////////////////// -->

<greet>Hello <%= name %>
</greet><br>

<joke>No breaks for you!</joke><br>

<hr class="divider">

<!-- ////////////////// - AVAILABLE SLOTS - ////////////////// -->





<!-- ////////////////// - AVAILABLE SLOTS FORM- ////////////////// -->

<form id="breakSlotsForm" class="break-header" action="/break-slots" method="POST">
  <div class="grid-container-spc">
    <span class="grid-item item1">
      <description class="item1">Slots available:</description>
    </span>
    <span class="grid-item item2">
      <select id="dropdown" name="slotsavailable" class="item2 number-selector">
        <option value='<%= breakSlots.slots %>'>
          <%= breakSlots.slots %>
        </option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">0</option>
      </select>
    </span>
    <span class="grid-item item3">
      <!-- <button type="submit" class="break-enter-button item3">
        <enter>↵</enter>
      </button> -->
    </span>
  </div>
</form>

<script>
  document.getElementById('dropdown').addEventListener('change', function() {
    document.getElementById('breakSlotsForm').submit();
  });
</script>

<!-- ////////////////// - TO DO LIST - ////////////////// -->

<div class="break-container">

  <ul class="break-list">
    <div id="foo" class="main">
      <% let index=0; %>
        <% breakTracker.forEach(details=> { %>
          <% convertToLocalTime=()=> {
            let clientDate = new Date();
            let timezoneOffset = clientDate.getTimezoneOffset();
            let date = new Date(details.startTime);
            let localDate = new Date(date.getTime() + timezoneOffset);
            let timeString = localDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false
            });
            return timeString;
            }
            %>
            <% convertToLocalTime_2=()=> {
              let clientDate = new Date();
              let timezoneOffset = clientDate.getTimezoneOffset();
              let date = new Date(details.breakStartTimeStamp);
              let localDate = new Date(date.getTime() + timezoneOffset);
              let timeString = localDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false
              });
              return timeString;
              }
              %>
              <li class="break-list-item-admin">
                <div class="break-list-item-name-admin">
                  <div class="spcitems">
                    <agent>
                      <%= details.user %>
                    </agent><br>
                    <infotitle>
                      Submitted at:
                    </infotitle>
                    <info>
                      <%= convertToLocalTime(details.startTime) %>
                    </info><br>
                    <infotitle>
                      Duration set:
                    </infotitle>
                    <info>
                      <%= details.duration %> mins
                    </info><br>
                    <infotitle>
                      Started at:
                    </infotitle>
                    <info>
                      <%= convertToLocalTime_2(details.breakStartTimeStamp) %>
                    </info><br>
                    <infotitle>
                      Time left:
                    </infotitle>
                    <info>
                      <span class="numerical-timer-admin <%= `timer-${details._id}` %>" style="display: none;">
                        <span class="loader">
                          <filer>.</filer>
                        </span>
                      </span>
                    </info>
                    <% if (!details.hasStarted) { %>
                      <nonstart>not started</nonstart>
                      <% } %>
                  </div>
                </div>

                <a href="/remove/<%= details._id %>" class="remove-admin" style="display: block;">
                  <span class="material-symbols-outlined">
                    close
                  </span>
                </a>

              </li>

              <script>
                myFingTimer(`<%= details._id %>`, <%= details.hasStarted %>);

                function myFingTimer(id, shouldStart) {
                  console.log('myFingTimer called with breakId:', id);
                  let duration = parseInt('<%= details.duration %>', 10) * 60;
                  let presentTime = new Date().getTime() / 1000;
                  let breakStartTimeStamp = (new Date('<%= details.breakStartTimeStamp %>').getTime() / 1000) || presentTime;
                  let timeCalc = (duration) - (presentTime - breakStartTimeStamp) + 62;
                  id = id.replace(/&#34;/g, '-');
                  let display = document.querySelector(`.timer-${id}`);
                  display.classList.remove('loading');
                  console.log('id:', id);
                  console.log('display:', display);

                  if (shouldStart) {
                    // Show the timer if the break has started
                    display.style.display = 'inline';
                  } else {
                    return;
                  }

                  startTimer(timeCalc, display, id);
                }
              </script>

              <% }) %>
    </div>
  </ul>
</div>

<!-- ////////////// MODALS ////////////////-->

<div id="myModal-Neg" class="modal">
  <div class="modal-content-neg">
    <span class="exclamation material-symbols-outlined">exclamation</span>
    <span id="message-neg" class="modal-text"></span>
    <span class="close-neg material-symbols-outlined">close</span>
  </div>
</div>

<div id="myModal-Pos" class="modal">
  <div class="modal-content-pos">
    <span class="check material-symbols-outlined">check</span>
    <span id="message-pos" class="modal-text"></span>
    <span class="close-pos material-symbols-outlined">close</span>
  </div>
</div>

<!-- ////////////////// - FETCH JS FILES - ////////////////// -->

<script src="/js/toggle.js"></script>
<script src="/js/modals.js"></script>
<script src="/sortable/Sortable.min.js"></script>
<script src="/js/sort.js"></script>