<!-- ////////////////// - PARTIALS - ////////////////// -->

<%- include('partials/header.ejs') %>
  <%- include('partials/themes.ejs') %>
    <%- include('partials/modals.ejs') %>
      <%- include('partials/navigation.ejs') %>
        <%- include('partials/scrollbar.ejs') %>

          &nbsp;
          <br>

          <hr class="divider">

          <!-- ////////////////// - GREET - ////////////////// -->

          <greet>Hello <%= name %>
          </greet><br>

          <joke>No breaks for you!</joke><br>

          <hr class="divider">

          <!-- ////////////////// - AVAILABLE SLOTS + BREAK MINUTES- ////////////////// -->

          <form id="breakSlotsForm" class="break-header" action="/break-slots" method="POST">
            <div class="grid-container-spc">
              <span class="grid-item item1">
                <description class="item1">Slots available:</description>
              </span>
              <span class="grid-item item2">
                <select id="dropdown" name="slotsavailable" class="item2 number-selector">
                  <option id="currentSlot" value='<%= breakSlots.slots %>'>
                    <%= breakSlots.slots %>
                  </option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </span>
              <span class="grid-item item3">
              </span>
            </div>
          </form>

          <script>
            const dropdown = document.getElementById('dropdown');
            const currentSlot = document.getElementById('currentSlot');

            dropdown.addEventListener('focus', function () {
              currentSlot.style.display = 'none';
            });

            dropdown.addEventListener('blur', function () {
              currentSlot.style.display = '';
            });

            dropdown.addEventListener('change', function () {
              document.getElementById('breakSlotsForm').submit();
            });
          </script>

          <!-- ////////////////// - BREAKS - ////////////////// -->

          <div class="break-container">

            <ul class="break-list">
              <div id="sFunctions" class="main">
                <% let index=0; %>
                  <% breakTracker.forEach(details=> { %>
                    <% if (details.status==='active' ) { %>
                      <li class="break-list-item-admin">
                        <div class="break-list-item-name-admin" onclick="toggleExtraInfo(event)">
                          <arrow-icon class="arrow">
                            <span class="material-symbols-outlined">keyboard_arrow_right</span>
                          </arrow-icon>

                          <span class="user-name-admin">
                            <username class="user-name-top">
                              <%= details.user %>
                            </username>
                          </span>

                          <div class="timer-container">
                            <% if (!details.hasStarted) { %>
                              <span class="not-started">not started</span>
                              <% } else { %>
                                <span class="numerical-timer-admin <%= `timer-${details._id}` %>"
                                  style="display: none;">
                                  <filer>.</filer>
                                </span>
                                <% } %>
                          </div>
                          <a href="#" class="remove-admin" id="remove_admin_<%= details._id %>"
                            onclick="removeBreak('<%= details._id %>', <%= !details.hasStarted %>, true)"
                            style="display: block;">
                            <span class="material-symbols-outlined">
                              close
                            </span>
                          </a>
                        </div>
                        <div class="extra-info" style="display:none;">
                          <infotitle>
                            Submitted at: <dots class="dotted">..............................</dots>
                          </infotitle>
                          <info class="submitted-time" data-time="<%= details.startTime %>">
                            Loading...
                          </info><br>
                          <infotitle>
                            Duration set: <dots class="dotted">................................</dots>
                          </infotitle>
                          <info>
                            <%= details.duration %> mins
                          </info><br>
                          <infotitle>
                            Started at:. <dots class="dotted">...................................</dots>
                          </infotitle>
                          <info>
                            <% if (!details.hasStarted) { %>
                              not started
                              <% } else { %>
                                <span class="started-time" data-time="<%= details.breakStartTimeStamp %>">
                                  <%= details.breakStartTimeStamp %>
                                </span>
                                <% } %>
                          </info><br>
                        </div>
                      </li>

                      <script>
                        function toggleExtraInfo(event) {
                          const listItem = event.target.closest('.break-list-item-admin');
                          const removeButton = event.target.closest('.remove-admin');
                          if (!removeButton) {
                            try {
                              const arrow = listItem.querySelector('.arrow');
                              const extraInfo = listItem.querySelector('.extra-info');
                              arrow.classList.toggle('open');
                              extraInfo.style.display = extraInfo.style.display === 'none' ? 'block' : 'none';
                              listItem.classList.toggle('expanded');
                              const arrowIcon = arrow.querySelector('.material-icons-outlined');
                              if (arrow.classList.contains('open')) {
                                arrowIcon.style.transform = 'rotate(90deg)';
                              } else {
                                arrowIcon.style.transform = 'rotate(0deg)';
                              }
                            } catch (err) { /*console.log(err)*/ }
                          }
                        }
                      </script>


                      <script>
                        myFingTimer(`<%= details._id %>`, <%= details.hasStarted %>);
                        function myFingTimer(id, shouldStart) {
                          //console.log('myFingTimer called with breakId:', id);
                          let duration = parseInt('<%= details.duration %>', 10) * 60;
                          let presentTime = new Date().getTime() / 1000;
                          let breakStartTimeStamp = (new Date('<%= details.breakStartTimeStamp %>').getTime() / 1000) || presentTime;
                          let timeCalc = (duration) - (presentTime - breakStartTimeStamp) + 61;
                          id = id.replace(/&#34;/g, '-');
                          let display = document.querySelector(`.timer-${id}`);
                          // display.classList.remove('loading');
                          // console.log('id:', id);
                          // console.log('display:', display);
                          if (shouldStart) {
                            display.style.display = 'inline';
                          } else {
                            return;
                          }
                          startTimer(timeCalc, display, id);
                        }
                      </script>
                      <% } %>
                        <% }) %>
              </div>
            </ul>
          </div>

          <!-- ////////////////// - BREAK QUEUE- ////////////////// -->

          <% if (breakTracker.some(details=> details.status==='queued')) { %>
            <joke>Queue</joke>
            <% } %>

              <br><br>

              <div class="break-container">
                <ul class="break-list">
                  <div id="agents" class="main">
                    <% let queueIndex=0; %>
                      <% breakTracker.forEach(details=> { %>
                        <% if (details.status==='queued' ) { %>
                          <li class="break-list-item-admin">
                            <div class="break-list-item-name-admin" onclick="toggleExtraInfo(event)">
                              <arrow-icon class="arrow">
                                <span class="material-symbols-outlined">keyboard_arrow_right</span>
                              </arrow-icon>

                              <span class="user-name-admin">
                                <username class="user-name-top">
                                  <%= details.user %>
                                </username>
                              </span>

                              <div class="queue-position">
                                <%= ++queueIndex %>
                              </div>
                              <a href="#" class="remove-admin" id="remove_admin_<%= details._id %>"
                                onclick="removeBreak('<%= details._id %>', <%= !details.hasStarted %>, true)"
                                style="display: block;">
                                <span class="material-symbols-outlined">
                                  close
                                </span>
                              </a>
                            </div>
                            <div class="extra-info" style="display:none;">
                              <infotitle>
                                Submitted at: <dots class="dotted">..............................</dots>
                              </infotitle>
                              <info class="submitted-time" data-time="<%= details.startTime %>">
                                Loading...
                              </info><br>
                              <infotitle>
                                Duration set: <dots class="dotted">................................</dots>
                              </infotitle>
                              <info>
                                <%= details.duration %> mins
                              </info><br>
                              <infotitle>
                                Started at:. <dots class="dotted">...................................</dots>
                              </infotitle>
                              <info>
                                <% if (!details.hasStarted) { %>
                                  not started
                                  <% } else { %>
                                    <span class="started-time" data-time="<%= details.breakStartTimeStamp %>">
                                      <%= details.breakStartTimeStamp %>
                                    </span>
                                    <% } %>
                              </info><br>
                            </div>
                          </li>

                          <script>
                            function toggleExtraInfo(event) {
                              const listItem = event.target.closest('.break-list-item-admin');
                              const removeButton = event.target.closest('.remove-admin');
                              if (!removeButton) {
                                try {
                                  const arrow = listItem.querySelector('.arrow');
                                  const extraInfo = listItem.querySelector('.extra-info');
                                  arrow.classList.toggle('open');
                                  extraInfo.style.display = extraInfo.style.display === 'none' ? 'block' : 'none';
                                  listItem.classList.toggle('expanded');
                                  const arrowIcon = arrow.querySelector('.material-icons-outlined');
                                  if (arrow.classList.contains('open')) {
                                    arrowIcon.style.transform = 'rotate(90deg)';
                                  } else {
                                    arrowIcon.style.transform = 'rotate(0deg)';
                                  }
                                } catch (err) { /*console.log(err)*/ }
                              }
                            }
                          </script>
                          <% } %>
                            <% }) %>
                  </div>
                </ul>
              </div>

              <br><br><br>

              <!-- ////////////////// - HANDLING LOCALTIME ZONES - ////////////////// -->

              <script src="/js/localtimezones.js"></script>

              <!-- ////////////// - BOTTOM PARTIALS - ////////////////-->

              <%- include('partials/bottomjs.ejs') %>