<!-- ////////////////// - PARTIALS - ////////////////// -->

<%- include('partials/socket.ejs') %>
  <%- include('partials/header.ejs') %>
    <%- include('partials/messageModals.ejs') %>
      <%- include('partials/navigation.ejs') %>

        &nbsp;
        <br>

        <!-- ////////////////// - HEADER - ////////////////// -->

        <hr class="divider">

        <pagetitle>Hello <%= name %>!</pagetitle><br>

        <%- include('partials/clock.ejs') %>

          <hr class="divider">

          <!-- ////////////////// - AVAILABLE SLOTS + BREAK MINUTES- ////////////////// -->

          <form id="breakSlotsForm" class="break-header" action="/break-slots" method="POST">
            <div class="grid-container-spc">
              <span class="grid-item item1">
                <description class="item1">Slots available:</description>
              </span>
              <span class="grid-item item2">
                <select id="dropdown" name="slotsavailable" class="item2 number-selector">
                  <option id="currentSlot" value='<%= breakSlots.slots %>'>
                    <%= breakSlots.slots %>
                  </option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </span>
              <span class="grid-item item3">
              </span>
            </div>
          </form>

          <script>
            'use strict';

            const dropdown = document.getElementById('dropdown');
            const currentSlot = document.getElementById('currentSlot');

            dropdown.addEventListener('focus', () => {
              currentSlot.style.display = 'none';
            });

            dropdown.addEventListener('blur', () => {
              currentSlot.style.display = '';
            });

            dropdown.addEventListener('change', () => {
              document.getElementById('breakSlotsForm').submit();
            });
          </script>

          <!-- ////////////////// - BREAKS - ////////////////// -->

          <div class="break-container">

            <ul class="break-list">
              <div id="sFunctions" class="main">
                <% let index=0; %>
                  <% breakTracker.forEach(details=> { %>
                    <% if (details.status==='active' ) { %>
                      <li class="break-list-item-admin">
                        <div class="break-list-item-name-admin" onclick="toggleExtraInfo(event)">
                          <arrow-icon class="arrow">
                            <span class="material-symbols-outlined icons-hover">keyboard_arrow_right</span>
                          </arrow-icon>

                          <span class="user-name-admin">
                            <username class="user-name-top">
                              <%= details.user %>
                            </username>
                          </span>

                          <div class="timer-container">
                            <% if (!details.hasStarted) { %>
                              <span class="not-started">not started</span>
                              <% } else { %>
                                <span class="numerical-timer-admin <%= `timer-${details._id}` %>"
                                  style="display: none;">
                                  <filer>.</filer>
                                </span>
                                <% } %>
                          </div>
                          <a href="#" class="remove-admin" id="remove_admin_<%= details._id %>"
                            onclick="removeBreak('<%= details._id %>', <%= !details.hasStarted %>, true)"
                            style="display: block;">
                            <span class="material-symbols-outlined icons-hover close-icon">close</span>
                          </a>
                        </div>
                        <div class="extra-info" style="display:none;">
                          <infotitle>
                            Submitted at: <dots class="dotted">........................</dots>
                          </infotitle>
                          <info class="submitted-time" data-time="<%= details.startTime %>">
                            Loading...
                          </info><br>
                          <infotitle>
                            Duration set: <dots class="dotted">..........................</dots>
                          </infotitle>
                          <info>
                            <%= details.duration %> mins
                          </info><br>
                          <infotitle>
                            Started at: <dots class="dotted">..............................</dots>
                          </infotitle>
                          <info>
                            <% if (!details.hasStarted) { %>
                              not started
                              <% } else { %>
                                <span class="started-time" data-time="<%= details.breakStartTimeStamp %>">
                                  <%= details.breakStartTimeStamp %>
                                </span>
                                <% } %>
                          </info><br>
                        </div>
                      </li>

                      <script>
                        myFingTimer(`<%= details._id %>`, <%= details.hasStarted %>);

                        function myFingTimer(id, shouldStart) {
                          let duration = parseInt('<%= details.duration %>', 10) * 60;
                          let presentTime = new Date().getTime() / 1000;
                          let breakStartTimeStamp = (new Date('<%= details.breakStartTimeStamp %>').getTime() / 1000) || presentTime;
                          let timeCalc = (duration) - (presentTime - breakStartTimeStamp) + 61;
                          id = id.replace(/&#34;/g, '-');
                          let display = document.querySelector(`.timer-${id}`);
                          if (shouldStart) {
                            display.style.display = 'inline';
                          } else {
                            return;
                          }
                          startTimer(timeCalc, display, id);
                        }
                      </script>

                      <% } %>
                        <% }) %>
              </div>
            </ul>
          </div>

          <!-- ////////////////// - BREAK QUEUE- ////////////////// -->

          <% if (breakTracker.some(details=> details.status==='queued')) { %>
            <joke>Queue</joke>
            <% } %>

              <br><br>

              <div class="break-container">
                <ul class="break-list">
                  <div id="agents" class="main">
                    <% let queueIndex=0; %>
                      <% breakTracker.forEach(details=> { %>
                        <% if (details.status==='queued' ) { %>
                          <li class="break-list-item-admin">
                            <div class="break-list-item-name-admin" onclick="toggleExtraInfo(event)">
                              <arrow-icon class="arrow">
                                <span class="material-symbols-outlined icons-hover">keyboard_arrow_right</span>
                              </arrow-icon>

                              <span class="user-name-admin">
                                <username class="user-name-top">
                                  <%= details.user %>
                                </username>
                              </span>

                              <div class="queue-position">
                                <%= ++queueIndex %>
                              </div>
                              <a href="#" class="remove-admin" id="remove_admin_<%= details._id %>"
                                onclick="removeBreak('<%= details._id %>', <%= !details.hasStarted %>, true)"
                                style="display: block;">
                                <span class="material-symbols-outlined icons-hover close-icon">close</span>
                              </a>
                            </div>
                            <div class="extra-info" style="display:none;">
                              <infotitle>
                                Submitted at: <dots class="dotted">........................</dots>
                              </infotitle>
                              <info class="submitted-time" data-time="<%= details.startTime %>">
                                Loading...
                              </info><br>
                              <infotitle>
                                Duration set: <dots class="dotted">..........................</dots>
                              </infotitle>
                              <info>
                                <%= details.duration %> mins
                              </info><br>
                              <infotitle>
                                Started at:. <dots class="dotted">.............................</dots>
                              </infotitle>
                              <info>
                                <% if (!details.hasStarted) { %>
                                  not started
                                  <% } else { %>
                                    <span class="started-time" data-time="<%= details.breakStartTimeStamp %>">
                                      <%= details.breakStartTimeStamp %>
                                    </span>
                                    <% } %>
                              </info><br>
                            </div>
                          </li>
                          <% } %>
                            <% }) %>
                  </div>
                </ul>
              </div>

              <br><br><br>

              <!-- ////////////// - CLOCK - ////////////////-->

              <script>
                'use strict';

                const updateClock = () => {
                  const now = new Date();
                  const formatter = new Intl.DateTimeFormat(undefined, {
                    hour: '2-digit',
                    minute: '2-digit',
                    second: '2-digit',
                    hour12: false
                  });
                  const timeString = formatter.format(now);
                  document.getElementById('clock').innerText = timeString;
                }

                setInterval(updateClock, 1000);
                updateClock();
              </script>

              <!-- ////////////////// - TOGGLE EXTRA INFO - ////////////////// -->

              <script>
                'use strict';

                const toggleExtraInfo = (event) => {
                  const listItem = event.target.closest('.break-list-item-admin');
                  const removeButton = event.target.closest('.remove-admin');
                  if (!removeButton) {
                    try {
                      const arrow = listItem.querySelector('.arrow');
                      const extraInfo = listItem.querySelector('.extra-info');
                      arrow.classList.toggle('open');
                      extraInfo.style.display = extraInfo.style.display === 'none' ? 'block' : 'none';
                      listItem.classList.toggle('expanded');
                      const arrowIcon = arrow.querySelector('.material-icons-outlined');
                      if (arrow.classList.contains('open')) {
                        arrowIcon.style.transform = 'rotate(90deg)';
                      } else {
                        arrowIcon.style.transform = 'rotate(0deg)';
                      }
                    } catch (err) { /*console.log(err)*/ }
                  }
                }

              </script>

              <!-- ////////////////// - TOGGLE ARROW COLOR - ////////////////// -->

              <script>
                let styles = getComputedStyle(document.documentElement);
                let linksColor = styles.getPropertyValue('--break-list-item-icons-color').trim();
                let linksHoverColor = styles.getPropertyValue('--links-hover-color').trim();

                document.querySelectorAll('.remove-admin').forEach((icon) => {
                  icon.addEventListener('mouseover', function () {
                    let arrowIcon = this.parentElement.querySelector('.arrow');
                    let parentLi = this.parentElement.parentElement;
                    if (arrowIcon) {
                      arrowIcon.style.color = linksColor;
                      parentLi.classList.add("not-hovered");
                    }
                  });

                  icon.addEventListener('mouseout', function () {
                    let arrowIcon = this.parentElement.querySelector('.arrow');
                    let parentLi = this.parentElement.parentElement;
                    if (arrowIcon) {
                      arrowIcon.style.color = '';
                      parentLi.classList.remove("not-hovered");
                    }
                  });
                });

                document.querySelectorAll('.break-list-item-admin').forEach((li) => {
                  li.addEventListener('mouseover', function () {
                    if (!this.classList.contains("not-hovered")) {
                      let arrowIcon = this.querySelector('.arrow');
                      if (arrowIcon) {
                        arrowIcon.style.color = linksHoverColor;
                      }
                    }
                  });
                  li.addEventListener('mouseout', function () {
                    let arrowIcon = this.querySelector('.arrow');
                    if (arrowIcon) {
                      arrowIcon.style.color = linksColor;
                    }
                  });
                });

              </script>

              <!-- ////////////////// - HANDLING LOCALTIME ZONES - ////////////////// -->

              <script src="/js/localtimezones.js"></script>

              <!-- ////////////// - BOTTOM PARTIALS - ////////////////-->

              <%- include('partials/bottomjs.ejs') %>