<!-- ////////////////// - 1ST IN DOM > PREVENT FLICKER - ////////////////// -->

<script src="/js/theme_setup.js"></script>

<!-- ////////////////// - LINED STYLES AND SCRIPTS - ////////////////// -->

<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/themes.css">
<link rel="stylesheet" type="text/css" href="/css/breaks.css">
<link rel="stylesheet" type="text/css" href="/css/timer.css">
<link rel="stylesheet" type="text/css" href="/css/modals.css">

<script src="/js/timer.js"></script>

<br>

<!-- ////////////////// - DARK MODE - ////////////////// -->

<li style="display: block;" class="toggle-moon">
  <icon href="#" id="toggle-mode-btn-moon" class="toggle-mode">
    <span class="material-symbols-outlined">brightness_3</span>
  </icon>
</li>

<li style="display: block;" class="toggle-sun">
  <icon href="#" id="toggle-mode-btn-sun" class="toggle-mode">
    <span class="material-symbols-outlined">sunny</span>
  </icon>
</li>

<!-- ////////////////// - NAV - ////////////////// -->

<navbar>
  <li><a href="/secret">Breaks</a></li>
  <section class="vertical-line"></section>
  <li><a href="/account">Password</a></li>
  <section class="vertical-line"></section>
  <li><a href="/logout">Logout</a></li>
</navbar>
&nbsp;
<br>

<hr class="divider">

<!-- ////////////////// - GREET - ////////////////// -->

<greet>Hello <%= name %>!</greet><br>

<joke>Time for a break?</joke><br>

<hr class="divider">

<!-- ////////////////// - AVAILABLE SLOTS - ////////////////// -->
<div class="grid-container-2">
  <div class="grid-item-2 item1">
    <% if (breakSlots) { %>
      <slots>
        <%= breakSlots.slots %>
      </slots>
      <description>Slots available</description>
    <% } %>
  </div>
  <div class="grid-item-2 item2">
    <slots>
      <%= Math.floor(user.remainingBreakTime / 60) %>
    </slots>
    <description>Mins. available</description>
  </div>
</div>

<hr class="divider">

<!-- ////////////////// - SET BREAK MENU - ////////////////// -->

<form id="break-form" action="/" method="POST" class="break-header">
  <div class="grid-container">
    <span class="grid-item item1">
      <description class="item1">Duration:</description>
    </span>
    <span class="grid-item item2">
      <select id="dropdown" name="duration" class="item2 number-selector">
        <option id="topOption">
          ⌵
        </option>
        <option value="15">15</option>
        <option value="14">14</option>
        <option value="13">13</option>
        <option value="12">12</option>
        <option value="11">11</option>
        <option value="10">10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
    </span>
    <span class="grid-item item3">
      <!-- <button type="submit" class="break-enter-button item3">
            <plus>+</plus>
          </button> -->
    </span>
  </div>
</form>

<script>
  const dropdown = document.getElementById('dropdown');
  const topOption = document.getElementById('topOption');

  dropdown.addEventListener('focus', function () {
    topOption.style.display = 'none';
  });

  dropdown.addEventListener('blur', function () {
    topOption.style.display = '';
  });

  dropdown.addEventListener('change', function () {
    document.getElementById('break-form').submit();
  });
</script>


<!-- /////////// BREAK LIST /////////// -->

<div class="break-container">

  <ul class="break-list">
    <div id="foo" class="main">
      <% let index=0; %>
        <% breakTracker.forEach(details=> { %>

          <% convertToLocalTime=()=> {
            let clientDate = new Date();
            let timezoneOffset = clientDate.getTimezoneOffset();
            let date = new Date(details.startTime);
            let localDate = new Date(date.getTime() + timezoneOffset);
            let timeString = localDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false
            });
            console.log("Client time: ", timeString);
            return timeString;
            }
            %>

            <li class="break-list-item-user">
              <div class="break-list-item-name-user">
                <%= details.user %>
                  <div class="timer-container">
                    <span class="numerical-timer <%= `timer-${details._id}` %>" style="display: none;">
                      <!-- <span class="loader"> -->
                      <filer></filer>
                      <!-- </span> -->
                    </span>
                  </div>

                  <!-- Add the start button and remove button here -->
                  <% if (!details.hasStarted) { %>
                    <% if (details.user===name) { %>
                      <button class="start-break item-button" data-id="<%= details._id %>"
                        onclick="onStartButtonClick(event)">Start</button>
                      <a href="#" class="remove-user" id="remove_user_<%= details._id %>"
                        onclick="removeBreak('<%= details._id %>', <%= !details.hasStarted %>)"
                        style="display: inline;"><span class="material-symbols-outlined">close</span></a>
                      <% } else { %>
                        <span class="numerical-timer">not started</span>
                        <% } %>
                          <% } %>

              </div>
              <% if (details.user===name) { %>
                <a href="#" class="remove-user" id="remove_user_<%= details._id %>"
                  onclick="removeBreak('<%= details._id %>', <%= !details.hasStarted %>)">
                  <span class="material-symbols-outlined">close</span></a>
                <% } %>
            </li>

            <script>
              myFingTimer(`<%= details._id %>`, <%= details.hasStarted %>);

              function myFingTimer(id, shouldStart) {
                console.log('myFingTimer called with breakId:', id);
                let duration = parseInt('<%= details.duration %>', 10) * 60;
                let presentTime = new Date().getTime() / 1000;
                let breakStartTimeStamp = (new Date('<%= details.breakStartTimeStamp %>').getTime() / 1000) || presentTime;
                let timeCalc = (duration) - (presentTime - breakStartTimeStamp) + 64;
                id = id.replace(/&#34;/g, '-');
                let display = document.querySelector(`.timer-${id}`);
                display.classList.remove('loading');
                console.log('id:', id);
                console.log('display:', display);

                if (shouldStart) {
                  // Show the timer if the break has started
                  display.style.display = 'inline';

                } else {
                  return;
                }

                startTimer(timeCalc, display, id);
              }
            </script>

            <% }) %>
    </div>
  </ul>

</div>

<br>

<!-- ////////////// SOCKET.IO - GLOBAL RELOAD ////////////////-->

<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  // Listen for the "reload" event
  socket.on('reload', () => {
    console.log('Reload event received');
    setTimeout(() => location.reload(), 500); // Reload the page after a 500ms delay
  });
</script>

<!-- ////////////// MODALS ////////////////-->

<div id="myModal-Neg" class="modal">
  <div class="modal-content-neg">
    <span class="exclamation material-symbols-outlined">exclamation</span>
    <span id="message-neg" class="modal-text"></span>
    <span class="close-neg material-symbols-outlined">close</span>
  </div>
</div>

<div id="myModal-Pos" class="modal">
  <div class="modal-content-pos">
    <span class="check material-symbols-outlined">check</span>
    <span id="message-pos" class="modal-text"></span>
    <span class="close-pos material-symbols-outlined">close</span>
  </div>
</div>

<!-- ////////////////// - FETCH JS FILES - ////////////////// -->

<script src="/js/toggle.js"></script>
<script src="/js/modals.js"></script>
<script src="/sortable/Sortable.min.js"></script>
<script src="/js/sort.js"></script>