<body class="scrollbar-page">

    <!-- ////////////////// - HEADER SETUP - ////////////////// -->

    <%- include('partials/header.ejs') %>

        <br>

        <!-- ////////////////// - THEME TOGGLE - ////////////////// -->

        <%- include('partials/themes.ejs') %>

            <!-- ////////////// - MODALS - ////////////////-->

            <%- include('partials/modals.ejs') %>

                <!-- ////////////////// - NAV - ////////////////// -->

                <%- include('partials/navigation.ejs') %>

                    &nbsp;
                    <br>

                    <hr class="divider">

                    <!-- ////////////// - ACCOUNTS - ////////////////-->

                    <greet>Accounts</greet><br><br>

                    <br>

                    <!-- ////////////// - SEARCH - //////////////// -->

                    <input type="text" id="search-bar" placeholder="Search users...">

                    <br><br>

                    <!-- ////////////// - ADMINS - //////////////// -->

                    <joke>SPCs</joke>

                    <br><br>

                    <ul id="admin-users" class="roles-list">
                        <% adminUsers.forEach(user=> { %>
                            <% if (user.username !=='admin' ) { %>
                                <li data-id="<%= user._id %>" data-role="<%= user.roles %>"
                                    class="break-list-item-user">
                                    <div class="break-list-item-name-user">
                                        <span>
                                            <%= user.username %>
                                        </span>
                                        <button class="reset-password-button"
                                            data-user-id="<%= user._id %>">Reset</button>
                                        <select class="item-button">
                                            <% if (user.roles==='admin' ) { %>
                                                <option value="admin" selected>Admin</option>
                                                <option value="user">User</option>
                                                <% } else { %>
                                                    <option value="admin">Admin</option>
                                                    <option value="user" selected>User</option>
                                                    <% } %>
                                                        <option value="delete" class="delete-option">Delete</option>
                                        </select>
                                    </div>
                                </li>
                                <% } %>
                                    <% }); %>
                    </ul>

                    <br>

                    <!-- ////////////// - USERS - //////////////// -->

                    <joke>Agents</joke>

                    <br><br>

                    <ul id="normal-users" class="roles-list">
                        <% normalUsers.forEach(user=> { %>
                            <li data-id="<%= user._id %>" data-role="<%= user.roles %>" class="break-list-item-user">
                                <div class="break-list-item-name-user">
                                    <span>
                                        <%= user.username %>
                                    </span>
                                    <button class="reset-password-button" data-user-id="<%= user._id %>">Reset</button>
                                    <select class="item-button">
                                        <% if (user.roles==='admin' ) { %>
                                            <option value="admin" selected>Admin</option>
                                            <option value="user">User</option>
                                            <% } else { %>
                                                <option value="admin">Admin</option>
                                                <option value="user" selected>User</option>
                                                <% } %>
                                                    <option value="delete" class="delete-option">Delete</option>
                                    </select>
                                </div>
                            </li>
                            <% }); %>
                    </ul>

                    <br><br><br>

                    <!-- /////////////// - HELPER FUNCTIONS - //////////////// -->

                    <script>
                        const updateUserRole = async (userId, newRole) => {
                            try {
                                const response = await fetch(`/users/${userId}`, {
                                    method: 'PUT',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                    body: JSON.stringify({ role: newRole }),
                                });
                                if (response.ok) {
                                    console.log(`User ${userId} role updated to ${newRole}`);
                                    location.reload();
                                } else {
                                    console.error(`Error updating user ${userId} role`);
                                }
                            } catch (error) {
                                console.error(`Error updating user ${userId} role: ${error.message}`);
                            }
                        };

                        const deleteUser = async (userId, username) => {
                            console.log(`Attempting to delete user ${userId}`);
                            const confirmed = confirm(`Please confirm deletion of account: ${username}`);
                            if (!confirmed) {
                                return;
                            }
                            try {
                                const response = await fetch(`/delete/${userId}`, {
                                    method: 'DELETE',
                                    headers: {
                                        'Content-Type': 'application/json',
                                    },
                                });
                                console.log('DELETE request response:', response);
                                if (response.ok) {
                                    console.log(`User ${userId} deleted`);
                                    location.reload();
                                } else {
                                    console.error(`Error deleting user ${userId}`);
                                }
                            } catch (error) {
                                console.error(`Error deleting user ${userId}: ${error.message}`);
                            }
                        };
                        const selectElements = document.querySelectorAll('.item-button');
                        selectElements.forEach(selectElement => {
                            selectElement.addEventListener('change', event => {
                                const liElement = event.target.closest('li');
                                const userId = liElement.dataset.id;
                                const newRole = event.target[selectElement.selectedIndex].value;
                                if (newRole === 'delete') {
                                    const username = liElement.querySelector('span').textContent;
                                    deleteUser(userId, username);
                                } else {
                                    updateUserRole(userId, newRole);
                                }
                            });
                        });
                    </script>

                    <!-- ////////////////// - HANDLING PASSWORD RESET - /////////////////// -->

                    <script>
                        document.addEventListener('DOMContentLoaded', () => {
                            async function resetPassword(userId, newPassword, confirmPassword) {
                                try {
                                    const response = await fetch(`/resetpassword/${userId}`, {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json",
                                        },
                                        body: JSON.stringify({ newPassword, confirmPassword }),
                                    });
                                    const data = await response.json();
                                    if (response.ok) {
                                        console.log("Password reset successful");
                                        return { success: true };
                                    } else {
                                        console.error("Error resetting password");
                                        return { success: false, error: data.error };
                                    }
                                } catch (error) {
                                    console.error(`Error resetting password: ${error.message}`);
                                    return { success: false, error: error.message };
                                }
                            }



                            document.querySelectorAll(".reset-password-button").forEach((button) => {
                                button.addEventListener("click", (e) => {
                                    e.preventDefault();
                                    const username = e.target.closest("li").querySelector(".break-list-item-name-user span").textContent.trim();
                                    const userId = e.target.closest("li").dataset.id;
                                    displayResetPasswordModal(userId);
                                });
                            });
                            function displayResetPasswordModal(userId) {
                                const modal = document.getElementById("reset-password-modal");
                                const close = modal.querySelector(".reset-password-close");
                                const form = modal.querySelector("#reset-password-form");
                                modal.style.display = "block";
                                const userIdInput = document.createElement("input");
                                userIdInput.type = "hidden";
                                userIdInput.name = "userId";
                                userIdInput.value = userId;
                                form.appendChild(userIdInput);
                                close.onclick = () => {
                                    modal.style.display = "none";
                                };
                            }
                            async function handleFormSubmit(e, userId) {
                                e.preventDefault();
                                const newPassword = e.currentTarget.querySelector('input[name="new-password"]').value;
                                const confirmPassword = e.currentTarget.querySelector('input[name="confirm-new-password"]').value;
                                const success = await resetPassword(userId, newPassword, confirmPassword);
                                if (success) {
                                    location.reload();
                                } else {
                                    const errorMessage = document.createElement("p");
                                    errorMessage.textContent = "New password and confirm password do not match";
                                    errorMessage.style.color = "red";
                                    e.currentTarget.appendChild(errorMessage);
                                }
                            }

                        });
                        function displayError(errorMessage) {
                            const errorElement = document.querySelector('#reset-password-modal .error-message');
                            if (!errorElement) {
                                const modalContent = document.querySelector('#reset-password-modal .reset-password-modal-content');
                                const errorDiv = document.createElement('div');
                                errorDiv.classList.add('error-message');
                                errorDiv.style.color = 'red';
                                errorDiv.textContent = errorMessage;
                                modalContent.insertBefore(errorDiv, modalContent.firstChild);
                            } else {
                                errorElement.textContent = errorMessage;
                            }
                        }

                    </script>

                    <!-- ////////////// - SEARCH FUNCTIONALITY - ////////////////-->

                    <script>
                        const searchInput = document.getElementById('search-bar');
                        searchInput.addEventListener('input', () => {
                            const searchValue = searchInput.value.toLowerCase();
                            const adminUsers = document.querySelectorAll('#admin-users .break-list-item-user');
                            const normalUsers = document.querySelectorAll('#normal-users .break-list-item-user');
                            filterUsers(adminUsers, searchValue);
                            filterUsers(normalUsers, searchValue);
                        });
                        function filterUsers(users, searchValue) {
                            users.forEach(user => {
                                const username = user.querySelector('.break-list-item-name-user span').textContent.toLowerCase();
                                if (username.includes(searchValue)) {
                                    user.style.display = 'list-item';
                                } else {
                                    user.style.display = 'none';
                                }
                            });
                        }
                        // Add event listener to the form submit button
                        document.getElementById("reset-password-form").addEventListener("submit", function (event) {
                            event.preventDefault();
                            var newPassword = document.getElementById("newpassword");
                            var confirmPassword = document.getElementById("confirmpassword");
                            var errorMessage = document.getElementById("error-message");

                            if (newPassword.value !== confirmPassword.value) {
                                errorMessage.style.display = "block";
                                errorMessage.textContent = "New password and password confirmation do not match";
                            } else {
                                errorMessage.style.display = "none";
                                document.getElementById("reset-password-form").submit();
                            }
                        });


                    </script>

                    <!-- ////////////// - PASSWORD RESET MODAL - ////////////////-->

                    <div id="reset-password-modal" class="reset-password-modal">
                        <div class="reset-password-modal-content">
                            <span class="reset-password-close">&times;</span>
                            <greet class="reset-pass-title">Reset Password</greet>
                            <form action="/resetpassword" method="post" id="reset-password-form" class="credentials">
                                <input type="password" id="newpassword" name="newPassword" placeholder="New Password">
                                <p id="error-message" style="display:none; color: red;"></p>
                                <input type="password" id="confirmpassword" name="confirmPassword"
                                    placeholder="Confirm New Password">
                                <button type="submit" class="form-button">OK</button>
                            </form>
                        </div>
                    </div>

                        <!-- ////////////////// - FETCH JS FILES - ////////////////// -->

                        <script src="/js/toggle.js"></script>
                        <script src="/js/modals.js"></script>


</body>