<!-- ////////////////// - HEADER SETUP - ////////////////// -->

<%- include('partials/header.ejs') %>

<br>

<!-- ////////////////// - THEME TOGGLE - ////////////////// -->

<%- include('partials/themes.ejs') %>

<!-- ////////////// - MODALS - ////////////////-->

<%- include('partials/modals.ejs') %>

<!-- ////////////////// - NAV - ////////////////// -->

<%- include('partials/navigation.ejs') %>

&nbsp;
<br>

<hr class="divider">

<!-- ////////////// - ACCOUNTS - ////////////////-->

<greet>Accounts</greet><br><br>

<!-- ////////////// - ADMINS - //////////////// -->
    <ul id="admin-users" class="roles-list">
        <% adminUsers.forEach(user=> { %>
            <ul>
                <% if (user.username !=='admin' ) { %>
                    <li data-id="<%= user._id %>" data-role="<%= user.roles %>" class="break-list-item-user">
                        <div class="break-list-item-name-user">
                            <span>
                                <%= user.username %>
                            </span>
                            <select class="item-button">
                                <% if (user.roles==='admin' ) { %>
                                    <option value="admin" selected>Admin</option>
                                    <option value="user">User</option>
                                    <% } else { %>
                                        <option value="admin">Admin</option>
                                        <option value="user" selected>User</option>
                                        <% } %>
                                            <option value="delete" class="delete-option">Delete</option>
                            </select>
                            <% } %>
                        </div>
                    </li>
            </ul>
            <% }); %>
    </ul>

    <br>

<!-- ////////////// - USERS - //////////////// -->
    <ul id="normal-users" class="roles-list">
        <% normalUsers.forEach(user=> { %>
            <ul>
                <li data-id="<%= user._id %>" data-role="<%= user.roles %>" class="break-list-item-user">
                    <div class="break-list-item-name-user">
                        <span>
                            <%= user.username %>
                        </span>
                        <select class="item-button">
                            <% if (user.roles==='admin' ) { %>
                                <option value="admin" selected>Admin</option>
                                <option value="user">User</option>
                                <% } else { %>
                                    <option value="admin">Admin</option>
                                    <option value="user" selected>User</option>
                                    <% } %>
                                        <option value="delete" class="delete-option">Delete</option>
                        </select>
                    </div>
                </li>
            </ul>
            <% }); %>
    </ul>


<!-- /////////////// - HELPER FUNCTIONS - //////////////// -->
<script>
    // Helper function to send a PUT request to update user's role
    const updateUserRole = async (userId, newRole) => {
        try {
            const response = await fetch(`/users/${userId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ role: newRole }),
            });

            if (response.ok) {
                console.log(`User ${userId} role updated to ${newRole}`);
                location.reload();
            } else {
                console.error(`Error updating user ${userId} role`);
            }
        } catch (error) {
            console.error(`Error updating user ${userId} role: ${error.message}`);
        }
    };

    // Helper function to send a DELETE request to delete a user
    const deleteUser = async (userId, username) => {
        const confirmed = confirm(`Please confirm deletion of account: ${username}`);
        if (!confirmed) {
            return;
        }

        try {
            const response = await fetch(`/accounts/${userId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                console.log(`User ${userId} deleted`);
                location.reload();
            } else {
                console.error(`Error deleting user ${userId}`);
            }
        } catch (error) {
            console.error(`Error deleting user ${userId}: ${error.message}`);
        }
    };

    // Add event listeners to all select elements
    const selectElements = document.querySelectorAll('.item-button');
    selectElements.forEach(selectElement => {
        selectElement.addEventListener('change', event => {
            const liElement = event.target.closest('li');
            const userId = liElement.dataset.id;
            const newRole = event.target[selectElement.selectedIndex].value;

            if (newRole === 'delete') {
                const username = liElement.querySelector('span').textContent;
                deleteUser(userId, username);
            } else {
                updateUserRole(userId, newRole);
            }
        });
    });
</script>

<!-- ////////////////// - FETCH JS FILES - ////////////////// -->

<script src="/js/toggle.js"></script>
<script src="/js/modals.js"></script>